.btn {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  font-size: 1.7rem;
  transition: all 0.3s;
  cursor: pointer;
  &--red {
    background-color: $color-red;
    color: #fff;
    font-weight: 600;
    border: 1px solid $color-red;

    &:hover {
      background-color: transparent;
      color: $color-red;
    }
  }

  &--white {
    background-color: transparent;
    border: 1px solid $color-red;
    color: $color-red;

    &:hover {
      background-color: $color-red;
      color: #fff;
    }
  }
}
